@tailwind base;
@tailwind components;
@tailwind utilities;

@import './loadingIndicator.module.css';

:root {
  --foreground-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: #f8fafc;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-normal !important;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-medium;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  .border-1 {
    border-width: 1px;
  }
}
